@import "../commonStyles";

.flex-full {
  flex: 1;
}

.wrapper {
  position: absolute;
  width: 60px;
  height: 24px;
  right: 0;
  top: 12px;

  &:hover {
    height: 64px;
  }
}

.switch-date {
  @extend %btn;

  width: 60px;
  height: 100%;
  padding: 0;
  line-height: 24px;
  transition: none;
  overflow: hidden;
  z-index: 99;

  &:hover {
    background-color: transparent;
  }
}

.item {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-top: 7px;
  background-color: white;

  &:hover {
    background-color: $gray-400;
  }
}

.text {
  margin-left: 4px;
}

.icon {
  @extend %icon;

  position: absolute;
  top: 7px;
  right: 9px;
  background-position: -475px -153px;
}