.login-menu {
	height: 100%;
	float: right;

	.login {
		float: left;
		width: 56px;
		height: 100%;

		[data-role="login-tip"] {
			@extend %hidden;
			transition: all 0.3s;
		}

		&:hover [data-role="login-tip"] {
			@extend %visible;

			[data-role="animation"] {
				animation-play-state: running;
			}
		}
	}

	.avatar-box {
		width: 100%;
		height: 100%;
		text-align: center;

		.avatar {
			@extend %all-center;
			position: absolute;
			width: 36px;
			height: 36px;
			border-radius: $border-radius-full;
		}
	}

	.upload {
		width: 58px;
		height: 48px;
		text-align: center;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAwBAMAAACyDnR9AAAAMFBMVEXUUnzWUn3WUn3VUnzVUnzVUn3UUnzUUnzaU4DfVYTuW4zxXI3VUn3qWYjmWIfkV4UXsS1iAAAACHRSTlMB99aQK5W8mPW6JqwAAACVSURBVDjLxcuhDUJBEEXRa2gAhcVRABKHRVAIghZAISgAFH4mNDArIQRBBSSUAC3wfwG7z2x+9uxmzM0jKe2qR0qe/06K5B6RvYG5hXn/LHMxYch6VXibeHyUqvpV0NufUlX/SlU9K1wUvW1WDwonRW+b1afCREx3zI5lexavshsrUe+MRF3DphgfIMZbgOU028Zz6AD+Td5T0E5DWAAAAABJRU5ErkJggg==) no-repeat;

		&:hover > a {
			background-color: $gray-white;
		}

		> a {
			transition: background-color 0.3s;
			font-size: $font-size-base;
			color: $white;
		}
	}
}