$height: 64px;

.container {
	position: relative;
	width: 72px;
	height: $height;
	line-height: $height;
	float: left;
	transition: background-color 0.3s;
	text-align: center;
	color: $pink;

	&:hover {
		background-color: $gray-400;

		.icon {
			top: 16px;
		}
	}

	.text {
		margin-top: 18px;
	}

	.icon {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 18px;
		transition: top 0.3s;
		@extend %horizontally-center;
	}
}