.container {
	width: 100%;
	margin-bottom: 20px;

	&:hover {
		.link {
			color: $primary;
		}
	}

	.left {
		float: left;
	}

	.right {
		height: 18px;
		line-height: 16px;
		padding-left: 6px;
		overflow: hidden;

		.title {
			@include ellipsis(60%);
			vertical-align: middle;
		}

		.update {
			margin-left: 10px;
			color: $gray-600;
		}
	}
}