<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <meta name="keywords" content="bilibili,影视,动漫">
    <meta name="description" content="二次元,同志交友网站">
    <title>bilibili</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
<div id="app">
    <div id="header">  </div>


    <div class="app-wrapper">
        <div class="chief-recommend">
            <div class="carousel-box fl">
              <div class="loading">正在加载中...</div>
            </div>

            <div class="recommend-module recommend">
                <div class="mark-card">
                    <a href="#video">
                        <img src="source/card.jpg@160w_100h.jpg" alt="标题" width="160" height="100">

                        <div class="card-mark">
                            <p class="title">【灯泡】小埋回家路上惨遭不良少年”围堵！她该怎么办!!!</p>
                            <p class="author">up主: 40mp</p>
                            <p class="play">播放: 11.4万</p>
                        </div>
                    </a>

                    <div class="watch-later-trigger"></div>
                </div>
                <div class="mark-card"></div>
                <div class="mark-card"></div>

                <div class="mark-card"></div>
                <div class="mark-card"></div>
                <div class="mark-card"></div>
                <div class="mark-card"></div>
                <div class="mark-card"></div>
                <span class="rec-btn pre">昨日</span>
                <span class="rec-btn next">一周</span>
            </div>
        </div>

        <div class="promotion">
          <div class="l-content">
            <header class="zone">
                <i class="name-icon"></i>
                <p class="name">推广</p>
                <a class="link" href="#">测试而已</a>
            </header>

            <div class="content">
                <div class="not-mark-card">
                  <a href="#video">
                    <img src="source/card.jpg@160w_100h.jpg" alt="">
                    <p class="title">特殊的文字,点击</p>
                    <p class="time">01:12</p>
                    <div class="watch-later-trigger"></div>
                  </a>
                </div>
                <div class="not-mark-card"></div>
                <div class="not-mark-card"></div>
                <div class="not-mark-card"></div>
                <div class="not-mark-card"></div>
            </div>
          </div>

          <aside class="r-content"></aside>
        </div>
    </div>


</div>
</body>
</html>
