@mixin reel($max-height: 400px, $time: 0.3s) {
	[data-ani="reel"] {
		@include transition(max-height $time);
		max-height: 0;
		overflow: hidden;
	}
	&:hover [data-ani="reel"] {
		max-height: $max-height;
	}
}

%link {
	@include transition($transition-color);
	font-size: $font-size-sm;
	color: $black;

	&:hover {
		color: $primary;
	}
}
