@keyframes scroll-x {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

.login-tip-box {
	@extend %horizontally-center;
	position: absolute;
	width: 320px;
	top: $header-nav-height;
	@include box-shadow($left-bottom-box-shadow);
	background-color: $white;

	.inner {
		padding: 12px;
	}

	.tip-text {
		color: $gray-600;
	}

	.pic-outer-box {
		width: 100%;
		height: 200px;
		margin: 10px 0;
		background: url("./assets/danmuGround.png") no-repeat;
		overflow: hidden;

		.pic-inner-box {
			width: inherit;
			height: inherit;
			animation: scroll-x 3s infinite paused linear;

			img {
				position: absolute;
			}

			img:nth-child(2) {
				left: 100%;
			}
		}
	}

	.login {
		display: block;
		width: 100%;
		line-height: $header-nav-height;
		font-size: $font-size-lg;
		text-align: center;
		@include border-radius($border-radius);
		background-color: $blue-dark;
		color: $white;

		&:hover {
			background-color: $blue-light;
		}
	}

	.reg-text {
		font-size: $font-size-sm;
		margin-top: 10px;
		text-align: center;
		color: $black;
	}

	.reg-link {
		display: inline;
		font-size: $font-size-sm;
		color: $primary;
	}
}

