.danmu {
	display: inline-block;
	position: absolute;
	height: 23px;
	text-shadow: rgb(0, 0, 0) 1px 0 1px,
	rgb(0, 0, 0) 0 1px 1px,
	rgb(0, 0, 0) 0px -1px 1px,
	rgb(0, 0, 0) -1px 0px 1px;
	left: 100%;
	white-space: pre;
	color: white;
	will-change: transform;
	backface-visibility: hidden;
	user-select: none;
	pointer-events: none;
	z-index: 9999999;
}
